<h1>Articles#index</h1>
<% if user_signed_in? %>
  <%= "#{current_user.nickname}がログインしています" %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <%= link_to '新規投稿', new_article_path %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>
<div class="articles">
<p>新着記事一覧</p>
<% @articles.each do | article | %>
<ul>
  <li>
    <%= link_to "#{article.title}", article_path(article.id) %>
    <span><%= "by #{article.user.nickname}" %></span>
  </li>
</ul>
<% end %>
</div>